# README.MD contains list of public representative and requires approve from all main developers
README.MD @EmelyanenkoK @tolya-yanot @akifoq @akme @brainfucker @highfeed @igroman787 @neodiX42 @neverthirty @sonofmom @uniskor
